# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.sw?
*.swo
*.log
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# jenv
.java-version
.jenv/

# Otros
*.tmp
*.bak
